---
export const prerender = false;
import "../../styles/global.css";

const id = Astro.params.id;

const res = await fetch(`https://www.omdbapi.com/?apikey=2a3fe01f&i=${id}`);
const movie = await res.json();
---

<html>
  <body>
    <div class="container">
      <h1>{movie.Title}</h1>

      <img src={movie.Poster} style="width:300px;" />

      <p><strong>Year:</strong> {movie.Year}</p>
      <p><strong>Genre:</strong> {movie.Genre}</p>
      <p>{movie.Plot}</p>

      <button onclick="window.history.back()">Volver</button>
    </div>
  </body>
</html>