---
export const prerender = false;

import "../../styles/global.css";

const id = Astro.params.id;

let movie = null;

try {
  const res = await fetch(`https://www.omdbapi.com/?apikey=2a3fe01f&i=${id}`);
  movie = await res.json();
} catch (error) {
  movie = null;
}
---

<html>
  <body>
    <div class="container">
      {
        movie && movie.Response !== "False" ? (
          <>
            <h1>{movie.Title}</h1>

            <img src={movie.Poster} style="width:300px; border-radius:10px;" />

            <p><strong>Año:</strong> {movie.Year}</p>
            <p><strong>Género:</strong> {movie.Genre}</p>
            <p><strong>Director:</strong> {movie.Director}</p>
            <p><strong>Actores:</strong> {movie.Actors}</p>

            <p>{movie.Plot}</p>

            <p>⭐ IMDb: {movie.imdbRating}</p>
          </>
        ) : (
          <p>No se encontró la película</p>
        )
      }

      <button onclick="window.history.back()">⬅️ Volver</button>
    </div>
  </body>
</html>